<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Faebl Books</title>
    <meta name="description" content="Commute Book helps commuters connect, read learn" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://s.mlcdn.co/animate.css">
  <body>
    <header id="first">
    <div class="intro-content">
      <div class="container"
      <div class="row">
        <div class="col-md-6 pull-left">
              <h1 class="hello animated slideInLeft">Unleash</h1>
              <h1 class="secondmain animated slideInLeft">Your inner</h1>
              <h1 class="thirdmain animated slideInLeft">Bibliophile</h1>
              <h2 class="subheading animated slideInLeft">Find and network with people who share your love of reading</h2>
              <div class="col-md-10 col-md-offset-2">
          </div>
        </div>
      </div>
    </div>
   <div class="col-md-4 mb-sm-30"><a href="http://localhost:3000/users/sign_up"><button id="introbutton" class="btn-ghost">Join Faebl today</button><a></div>
 <video id="video-background" autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s31.postimg.org/6cbgszf7f/readingbackground.png">
             <source src="/assets/reading.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </div>
        </div>
         </video>
     </header>
     <section id="boxeshalf">
       <div class="group">
           <div class="lefthalf">
            <img src="/assets/dark1.png" alt="" />
           </div>
           <div class="righthalf">
             <div class="row">
             <div id="abouttext" class="text-center animated slideInRight">
             <h1 class="headingabout animated slideInRight"> What is Faebl? </h1>
             <p class="paragraphabout animated slideInRight"> Faebl is a community of readers and bibliophiles. Our mission is to help people find and share books they love and to encourage reading with the distribution of ebooks.</p>
<h3 class="secondheading animated slideInRight">A few things you can do on Faebl</h3>
<p class="paragraphabout animated slideInRight">
 •	See which books your friends are reading.
 •	Download and read from our collection of ebooks.
 •	Track the books you're reading, have read and want to read.
 •	Check out your personalised book recommendations.
 •	Review books and find out if a book is a good fit for you from our community’s reviews.
 •	Provide self-publishing routes for contemporary authors.
 </p>
 </div>
 </div>
 </div>
 </div>
           </div>
       </div>
</section>
<!--new section-->
    <!-- Top books -->
    <section id="fourth1" class="container section ft-centered">
    <div class="container">
        <h2 id="popular" class="text-center animated slideInLeft">Most Popular Books</h2>
                  <!-- Item 1 -->
                  <div class="col-md-3 col-sm-6 mb-sm-50">
                    <div class="et-strategy">
                      <a href="http://localhost:3000/books/15">
               <img class="books1 animated slideInLeft" src="assets/warpeace.png"></img>
             </a>
                    </div>
                  </div>

                  <!-- Item 2 -->
                  <div class="col-md-3 col-sm-6 mb-sm-50">
                    <div class="et-strategy">
                        <a href="http://localhost:3000/books/16">
                        <img class="books1 animated slideInLeft" src="assets/pride.png"></img>
                      </a>
                       </div>
                  </div>

                  <!-- Item 3 -->
                  <div class="col-md-3 col-sm-6 mb-sm-50">
                    <div class="et-strategy">
                      <a href="http://localhost:3000/books/17">
                        <img class="books1 animated slideInRight" src="assets/sherlock.png"></img>
                      </a>
                       </div>
                  </div>

                  <!-- Item 4 -->
                  <div class="col-md-3 col-sm-6 mb-sm-50 ft-item>
                    <div class="et-strategy">
                          <a href="http://localhost:3000/books/14">
                        <img class="books1 animated slideInRight" src="assets/tale2.jpg"></img>
                      </a>
                       </div>
                  </div>
                    <div>
                </div><!-- / .row -->
              </section><!-- / .ft-frames -->
              <!-- Top books -->
              <section id="fourth1" class="container section ft-centered">
              <div class="container">
                            <!-- Item 1 -->
                            <div class="col-md-3 col-sm-6 mb-sm-50">
                              <div class="et-book">
                                  <a href="http://localhost:3000/books/18">
                         <img class="books1 animated slideInLeft" src="assets/metamorphosis.jpg"></img>
                       </a>
                              </div>
                            </div>

                            <!-- Item 2 -->
                            <div class="col-md-3 col-sm-6 mb-sm-50">
                              <div class="et-book">
                                  <a href="http://localhost:3000/books/19">
                                  <img class="books1 animated slideInLeft" src="assets/earnest.jpg"></img>
                                </a>
                                 </div>
                            </div>

                            <!-- Item 3 -->
                            <div class="col-md-3 col-sm-6 mb-sm-50">
                              <div class="et-book">
                                  <a href="http://localhost:3000/books/21">
                                  <img class="books1 animated slideInLeft" src="assets/victor.jpg"></img>
                                </a>
                                 </div>
                            </div>

                            <!-- Item 4 -->
                            <div class="col-md-3 col-sm-6 mb-sm-50">
                              <div class="et-book">
                                <a href="http://localhost:3000/books/20">
                                  <img class="books1 animated slideInLeft" src="assets/sense.jpg"></img>
                                </a>
                                 </div>
                            </div>
                              <div>
                          </div><!-- / .row -->
                        </section><!-- / .ft-frames -->
            <!--another carousel-->
            <section id="fourth1" class="container section ft-centered">
            <div class="container">
                <h2 id="popular" class="text-center animated slideInRight">Most Popular Genre: Classics</h2>
                          <!-- Item 1 -->
                          <div class="col-md-3 col-sm-6 mb-sm-50">
                            <div class="et-book">
                                <a href="http://localhost:3000/books/8">
                       <img class="books1 animated slideInLeft" src="assets/count.png"></img>
                                </a>
                            </div>
                          </div>

                          <!-- Item 2 -->
                          <div class="col-md-3 col-sm-6 mb-sm-50" data-wow-duration=".6s">
                            <div class="et-book">
                              <a href="http://localhost:3000/books/7">
                                <img class="books1 animated slideInLeft" src="assets/middle.png"></img>
                              </a>
                              </div>
                          </div>

                          <!-- Item 3 -->
                          <div class="col-md-3 col-sm-6 mb-sm-50" data-wow-duration=".6s">
                            <div class="et-book">
                                <a href="http://localhost:3000/books/10">
                                <img class="books1 animated slideInLeft" src="assets/villette.png"></img>
                              </a>
                               </div>
                          </div>

                          <!-- Item 4 -->
                          <div class="col-md-3 col-sm-6 mb-sm-50" data-wow-duration=".6s">
                            <div class="et-book">
                                <a href="http://localhost:3000/books/14">
                                <img class="books1 animated slideInLeft" src="assets/tale2.jpg"></img>
                              </a>
                               </div>
                          </div>
                            <div>
                        </div><!-- / .row -->
                      </section><!-- / .ft-frames -->
        <!--end of carousel-->
                        <section id="sixth">
                          <div class="container">
                                  <h3 id="popular" class="text-center animated slideInLeft">Thinking of self-publishing? Read recent success stories</h3>
                            </div>
                          </div>
                        </section>
                        <section id="carousel1">
                          <div id="carousel-example" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                        <div class="item active">
                          <a href="#"><img src="/assets/magenta.png" /></a>
                          <div class="carousel-caption">
                            <h3>Alan McKinnon</h3>
                            <p>Author of <i>Road to Enlightenment</i></p>
                          </div>
                        </div>
                        <div class="item">
                          <a href="#"><img src="/assets/blueorange.png" /></a>
                          <div class="carousel-caption">
                            <h3>Angus Lowe</h3>
                            <p>Author of <i>Sombre and Sober</i></p>
                          </div>
                        </div>
                        <div class="item">
                          <a href="#"><img src="/assets/greenorange.png" /></a>
                          <div class="carousel-caption">
                            <h3>Alastair Craig</h3>
                            <p>Author of <i>Escape from Reality</i></p>
                          </div>
                        </div>
                        </div>

                        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        </div>
                        </section>
     <section id="fifth">
       <div class="container">
         <div class="row">
           <div class="col-md-8">
           </div>
         </div>
       </div>
   </section>
  </body>
</html>
